/* === CSS RESET === */ 

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;  
}


body { 

    background-color: black;
    font-family: impact;

}

nav , header , article {
    
     margin-bottom: 20px;
     border: solid 1px; 
}

/* === NAV INFO HERE === */ 

nav { 

    background-color: black; 

}

a:link { 

    display:inline-block;
    background-color:black;
    color:ghostwhite;
    text-decoration: none; 
    padding: 20px 30px ;
    font-size: 18px;
    text-transform: capitalize;

}

a:visited {
    
 color:dimgray;    
     
}

a:hover { 

    color: darkgray;

}

/* === HEADER INFO HERE === */ 

header { 

    padding: 0 20px;
    background-color: darkgray;
}

header h1 {
   
    font-size: 52px;  
    text-transform: capitalize;
    text-align: center;
    color: white;
}

header h2 { 
    
    font-family: impact;
    font-size: 25px;
    text-align: center; 
    color:dimgrey;
}

header img {
    padding: 0 30px; 
}

article {
    
     padding: 0 20px;    

}

article h1{
    padding: 10px 20px;
    font-size: 50px;
    color: white;
}
article p { 
    padding: 0px 20px;
    font-family: serif;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    line-height: 30px;
    
}

article p a {
    
    color: white;
}
footer {
    
    padding: 30px 20px;
    font-style: italic;
    font-family: impact;   
    color: white;
    text-align: center;
}

